.content {
  article {
    margin-top: 5rem;

    header {
      h1 {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: -0.5px;
        color: var(--heading);
      }

      .postInfo {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;

        > * {
          display: flex;
          align-items: center;
        }

        svg {
          margin-right: 0.5rem;
        }
      }

      .lastUpdate {
        display: block;
        margin-top: 1rem;
        font-size: 0.875rem;
        color: var(--info);
      }
    }
  }
}

.banner {
  position: relative;
  height: 400px;
  width: 100%;
}

.postContent {
  margin-top: 4rem;
  margin-bottom: 2rem;

  font-size: 1.125rem;
  color: var(--body);
  line-height: 1.4;
  text-align: justify;

  h1 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.4;
    color: var(--heading);
    margin-bottom: calc(2.25rem * 1.4);

    &:not(:first-child) {
      margin-top: calc(2.25rem * 1.4);
    }
  }

  a {
    color: var(--highlight);

    &:hover {
      filter: brightness(0.98);
    }
  }
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  p {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--heading);
  }
}

.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
  border-top: 1px solid var(--body);
}

.postPagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    display: block;
    font-size: 1.125rem;
    color: var(--heading);
    letter-spacing: -0.5px;
    transition: filter 0.2s;
  }

  strong {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--highlight);
    margin-top: 0.5rem;
    transition: filter 0.2s;
  }

  > div {
    &:hover {
      span,
      strong {
        filter: brightness(0.9);
      }
    }
  }
}

.comments {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
